<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /voicehub/public/

    # Permitir acesso direto à pasta gravacoes e seus arquivos
    RewriteRule ^gravacoes/ - [L]

    # Permitir acesso direto a arquivos existentes
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Redirecionar todas as outras solicitações para index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>

# Permitir acesso direto a arquivos de áudio e WAV
<FilesMatch "\.(mp3|wav|gsm)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /voicehub/public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>